<div class="text-2xl flex flex-col w-full mt-2 gap-y-2">
	@for (task of tasks; track task.id) {
	<app-task
		[task]="task"
		(check)="toggleTask(task)"
		(remove)="removeTask(task)"
	/>
	}
	<form class="flex items-end mt-2" (submit)="handleSubmit($event)">
		<button
			class="bg-blue-400 rounded text-white p-0.5 mr-2 transition-colors hover:bg-blue-500"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="w-5 h-5"
			>
				<path
					d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
				/>
			</svg>
		</button>
		<input
			type="text"
			class="p-0 text-2xl leading-none border-0 border-b-2 border-neutral-500 transition-colors focus:border-0 focus:border-b-2 focus:ring-0 focus:border-blue-400"
			[formControl]="inputTitle"
		/>
	</form>
</div>
